html{
  background-image: url('images/background (1).jpg');
  background-size: cover;
  /*background-size: contain;*/
  /*opacity: 2;*/
}

canvas{
  z-index: 2;
}

.text{
  text-align: center;
  color:#ffffff6b;
  font-size: 28px;
  width: 100%;
  top:130px;
  position: absolute;
  margin:0 auto;
  display: block;
}

.image{
  display: none;
}